<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SKAMSHOP</title>
    <style>
      body {
        background-color: #C6C7C1;
        position: absolute;
        width: 1000px;
        height: 4500px;
        overflow-y: auto;
        top: 0px
      }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/logo.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>
<body>
    <section class="main">
      <img src="{% static 'assets/IMG_7870.PNG' %}">
      <h1>SCAMSHOP</h1>
      <h2>by Zakharova</h2>
      <span>scam scam scam scam scam scam scam scam scam scam scam scam scam scam scam scam scam scam scam scam scam scam scam scam scam</span>
      <h3></h3>
    </section>
    <section class="explain">
      <h1>SCÁMSHOP - (from eng.) is the market, where you can spend your money on digital things.</h1>
      <h2>LIKE:</h2>
      <a href="{% static 'assets/girl.png' %}">
      <p>//expensive clothes</p>
      <img src="{% static 'assets/yatch.png' %}" class="yatch">
      <h6>//a yatch</h6>
    </section>

    <section class="morepics">
      <a href="{% static 'assets/nft.png' %}">
      <p>//paintings</p>
    </section>

    <section class="moreepics">
      <a href="{% static 'assets/girlfriend.png' %}">
      <p>//and even a girlfriend!</p>
    </section>

    <section class="ending">
      <p></p>
      <h1>To conclude: everything you can’t have in the real life :)</h1>
      <h2>DON’T WANT TO BE A LOSER??????</h2>
      <a href="http://127.0.0.1:8000/registration"><h3>Join now!</h3></a>
    </section>



</body>
</html>
