<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <style>
        body {
            background: #221D1D

        }
    </style>

</head>
<body>
    <section class="design">
        <h1>REGISTRATION</h1>
        <figure></figure>
        <p></p>
        <span></span>
        <a></a>
        <h2></h2>
        <h3></h3>
        <h4></h4>
        <h5></h5>
     </section>

    <section class="form">
        <form method="post" action="">

        </form>

    </section>
</body>
</html>